{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg p-4 custom-home-card">
        <!-- Hiển thị thông báo -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="home-header">Chào mừng đến với Quản lý Công Việc</div>
        <div class="home-links">
            <a href="{{ url_for('add_task_page') }}" class="btn btn-success">Thêm Công Việc Mới</a>
            <a href="{{ url_for('task_list') }}" class="btn btn-primary">Xem Danh Sách Công Việc</a>
        </div>
    </div>
</div>
{% endblock %}